<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="scss/all.css")
        title Perfume
    body
        //- navbar
        nav.navbar.navbar-expand-md.navbar-light
            .container-fluid.container-md
                a(href="index.html").navbar-brand
                    h1
                        img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfume.png?raw=true", alt="logo")
                div
                    a.nav-link.position-relative.d-inline-block.d-md-none.p-0.me-5(href="")
                        span.material-icons.text-secondary shopping_cart
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-primary 3
                    button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                        span.material-icons.text-secondary menu
                .collapse.justify-content-end.navbar-collapse#navbarNav
                    ul.navbar-nav.text-center
                        li.nav-item
                            a.nav-link.order.order-md-1(href="shop.html") #[span.d-none.d-md-inline.material-icons store]Product 
                        li.nav-item
                            a.nav-link.order-md-3(href="#") #[span.d-none.d-md-inline.material-icons favorite]Wishlist
                        li.nav-item.d-md-none.d-inline-block
                            a.nav-link(href="#") Blog
                        li.nav-item.d-md-none.d-inline-block
                            a.nav-link(href="#") Contact
                        li.nav-item
                            a.nav-link.order-md-2(href="login.html") #[span.d-none.d-md-inline.material-icons person]log in
                        li.nav-item.d-none.d-md-inline-block
                            a.nav-link.position-relative.order-md-4(href="#") #[span.material-icons shopping_cart]Cart (3)

        //- banner
        section.container-fulid.card.banner.text-white
            .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true')")
            .container.card-img-overlay
                .row.justify-content-end.align-items-center.h-100
                    .col-md-5
                        h2.card-title.font-size-xl Perfume your day
                        p.card-text.font-size-md A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.
                        .d-grid
                            a(href="shop.html").btn.btn-outline-light Plan a free online training

        main
            //- intro
            section.container.py-7
                ul
                    li.card.intro.intro
                        .row.g-0
                            .col-md-6.order-md-2
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index2.jpg?raw=true')")
                            .col-md-6.d-flex.align-items-center.order-md-1
                                .row.justify-content-center
                                    .col-md-10
                                        .card-body
                                            h3.card-title.font-size-lg Gabrielle CHANEL
                                            p.card-text.font-size-base 全新嗅覺體香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。
                                            a(href="product.html").link-primary 查看更多
                    li.card.intro
                        .row.g-0
                            .col-md-6
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index3.png?raw=true')")
                            .col-md-6.d-flex.align-items-center
                                .row.justify-content-center
                                    .col-md-10
                                        .card-body
                                            h3.card-title.font-size-lg Five O’clock Au Gingembre
                                            p.card-text.font-size-base 生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。
                                            a(href="product.html").link-primary 查看更多
                    li.card.intro
                        .row.g-0
                            .col-md-6.order-md-2
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index4.jpg?raw=true')")
                            .col-md-6.d-flex.align-items-center.order-md-1
                                .row.justify-content-center
                                    .col-md-10
                                        .card-body
                                            h3.card-titile.font-size-lg CHANEL N°5
                                            p.card-text.font-size-base N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。
                                            a(href="product.html").link-primary 查看更多
                    li.card.intro
                        .row.g-0
                            .col-md-6.intro-img-l
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index5.jpg?raw=true')")
                            .col-md-6.d-flex.align-items-center
                                .row.justify-content-center
                                    .col-md-10
                                        .card-body
                                            ol
                                                li.mb-6
                                                    h3.card-title.font-size-md 1.<br>Levels of Preventive Maintenance Compliance
                                                    p.card-text.font-size-sm The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.
                                                li.mb-6
                                                    h3.card-title.font-size-md 2.<br>Percentage of Planned Maintenance
                                                    p.card-text.font-size-sm The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.
                                                li.mb-7
                                                    h3.card-title.font-size-md 3.<br>Critical percentage of planned maintenance
                                                    p.card-text.font-size-sm Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.
                                            .d-grid
                                                a(hreh="shop.html").btn.btn-outline-dark Plan a free online training

            //- feature
            section.container-fulid.bg-secondary.py-6
                .container
                    ul.row
                        li.col-md-4
                            .card.feature.bg-transparent
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index6.jpg?raw=true')")
                                .card-body
                                    h3.card-title.font-size-md Poppy & Barley
                                    p.card-text.font-size-sm Jo Malone
                                    p.card-text.font-size-sm NT$1,380
                                        del NT$1,580
                        li.col-md-4
                            .card.feature.bg-transparent
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index7.jpg?raw=true')")
                                .card-body
                                    h3.card-title.font-size-md Body Wash
                                    p.card-text.font-size-sm Curology
                                    p.card-text.font-size-sm NT$1,580
                        li.col-md-4
                            .card.feature.bg-transparent
                                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index8.jpg?raw=true')")
                                .card-body
                                    h3.card-title.font-size-md Apple Cider Vinegar Capsule
                                    p.card-text.font-size-sm Tonik
                                    p.card-text.font-size-sm NT$1,580

            //- recycle
            section.container.card.recycle.py-7
                .row.align-items-center
                    .col-md-8
                        .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index9.jpg?raw=true')")
                    .col-md-4
                        h2.card-title.font-size-lg Bottle-Recycling
                        p.card-text.font-size-base Recycle your used empty bottles and be rewarded!
                        p.card-text.font-size-sm.my-2 For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.
                        a(href="product.html").link-primary 查看更多
                    
            //- subscription
            section.container-fulid.card.subscription
                .img.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true')")
                .container.card-img-overlay.d-flex.flex-column.justify-content-end.pb-7
                    .row
                        h2.card-titile 記得<br>訂閱以獲取更多資訊！
                    .row.mb-8
                        .col-md-4
                            .input-group
                                input.p-3(type="text" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2").form-control
                                button(type="button" id="button-addon2").btn.btn-primary Subscribe
                        
        footer.bg-primary
            .container-fluid.container-sm.footer
                .row.justify-content-between.h-100.align-items-center
                    .col
                        .d-flex.justify-content-between.justify-content-md-start
                            a(href="index.html").navbar-brand.d-inline-blick
                                h1
                                    img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfumewhite.png?raw=true" alt="logo")
                            .d-inline-block.align-self-center.text-white.text-nowrap © 2020. All Rights Reserved.
                    .col.d-none.d-md-flex.justify-content-end.align-items-center
                        ul.nav
                            li.nav-item
                                a.nav-link.text-white(href="shop.html") Product
                            li.nav-item
                                a.nav-link.text-white(href="") Blog
                            li.nav-item
                                a.nav-link.text-white(href="") Contact
        
        //- js
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
