<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="scss/all.css")
        title Perfume - Shop
    body
        //- navbar
        nav.navbar.navbar-expand-md.navbar-light
            .container-fluid.container-md
                a(href="index.html").navbar-brand
                    h1
                        img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfume.png?raw=true", alt="logo")
                div
                    a.nav-link.position-relative.d-inline-block.d-md-none.p-0.me-5(href="")
                        span.material-icons.text-secondary shopping_cart
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-primary 3
                    button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                        span.material-icons.text-secondary menu
                .collapse.justify-content-end.navbar-collapse#navbarNav
                    ul.navbar-nav.text-center
                        li.nav-item
                            a.nav-link.order.order-md-1(href="shop.html") #[span.d-none.d-md-inline.material-icons store]Product 
                        li.nav-item
                            a.nav-link.order-md-3(href="#") #[span.d-none.d-md-inline.material-icons favorite]Wishlist
                        li.nav-item.d-md-none.d-inline-block
                            a.nav-link(href="#") Blog
                        li.nav-item.d-md-none.d-inline-block
                            a.nav-link(href="#") Contact
                        li.nav-item
                            a.nav-link.order-md-2(href="login.html") #[span.d-none.d-md-inline.material-icons person]log in
                        li.nav-item.d-none.d-md-inline-block
                            a.nav-link.position-relative.order-md-4(href="#") #[span.material-icons shopping_cart]Cart (3)
        
        //- catalog
        section.container-fluid.bg-primary.d-none.d-md-block
            .container
                ul.nav
                    li.nav-item
                        a.nav-link(href="#") CHANEL
                    li.nav-item
                        a.nav-link(href="#") Jo Malone
                    li.nav-item
                        a.nav-link(href="#") Curology
                    li.nav-item
                        a.nav-link(href="#") Dior
                    li.nav-item
                        a.nav-link(href="#") Chloe
                    li.nav-item
                        a.nav-link(href="#") ZARA
        
        //- shop
        main.container.pt-8.pb-7
            ul.row
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products1.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index6.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products3.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products4.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products5.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index4.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products7.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products8.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index3.png?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products10.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products11.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                li.col-md-3.card.shop.mb-7
                    a(href="product.html")
                        .ratio.ratio-1x1.bgi-center-cover(style="background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products12.jpg?raw=true')")
                    .card-body
                        h3.card-titile.font-size-md Poppy & Barley
                        h4.card-subtitile.font-size-sm Jo Malone
                        p.card-text.font-size-sm NT$1,380
                            del.text-secondary NT$1,580
                        ul.d-flex.align-items-center
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addWish" aria-controls="addWish") #[span.material-icons favorite]
                            li
                                a.card-link(data-bs-toggle="offcanvas" data-bs-target="#addCar" aria-controls="addCar") #[span.material-icons shopping_cart]
                
                .offcanvas.offcanvas-middle(tabindex="-1" aria-labelledby="addWishLabel")#addWish
                    .offcanvas-header
                        h4.offcanvas-title.text-primary#offcanvasWithBackdropLabel 已加入購物清單
                        
                .offcanvas.offcanvas-middle(tabindex="-1" aria-labelledby="addCarLabel")#addCar
                    .offcanvas-header
                        h4.offcanvas-title.text-primary#offcanvasWithBackdropLabel 已加入購物車
            //- pagination
            nav.row
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="") 1
                        li.page-item.disabled
                            a.page-link(href="") 2
                        li.page-item.disabled
                            a.page-link(href="") 3
        
        footer.bg-primary
            .container-fluid.container-sm.footer
                .row.justify-content-between.h-100.align-items-center
                    .col
                        .d-flex.justify-content-between.justify-content-md-start
                            a(href="index.html").navbar-brand.d-inline-blick
                                h1
                                    img(src="https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d’Perfumewhite.png?raw=true" alt="logo")
                            .d-inline-block.align-self-center.text-white.text-nowrap © 2020. All Rights Reserved.
                    .col.d-none.d-md-flex.justify-content-end.align-items-center
                        ul.nav
                            li.nav-item
                                a.nav-link.text-white(href="shop.html") Product
                            li.nav-item
                                a.nav-link.text-white(href="") Blog
                            li.nav-item
                                a.nav-link.text-white(href="") Contact
        

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")

